[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
prometheus-client = "*"
pyyaml = "*"
dacite = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
main = "python3 main.py"
