name: publish

on:
  push:
    branches:
    - main
    paths-ignore:
    - '.github/**'
    - '.vscode/**'
    - '.example.env'
    - 'LICENSE'
    - 'README.md'

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    steps:

      - name: Check Out Repo 
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/oura-exporter:latest

      # - name: Restart Docker on RaspberryPi
      #   uses: benc-uk/workflow-dispatch@v1.2.2
      #   with:
      #     repo: legnoh/life-dashboard
      #     workflow: Reset docker-compose setting
      #     token: ${{ secrets.PERSONAL_TOKEN }}
